/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 15px 30px;
    color: aliceblue;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    background-color: #fb811e;
}

button:hover {
    background-color: #009f4d;
}

/* HEADER */
.farmStead__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.farmStead__logo h1 {
    padding-top: 5px;
    color: #fb811e;
}

.farmStead__logo i {
    position: absolute;
    top: 0;
    left: 85px;
    font-size: 1.2rem;
}

.farmStead__logo h1,
i {
    color: #fb811e;
    transition: all .5s;
}

.farmStead__logo:hover h1,
i {
    color: black;
}

.farmStead__logo a {
    text-decoration: none;
}

.farmStead__menu {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.farmStead__search input {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: none;
    transition: all .5s;
    background-image: url(../img/search__button.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 8px center;
    cursor: pointer;
}

.farmStead__search input::placeholder {
    padding-left: 40px;
    color: black;
    font-weight: 500;
}

.farmStead__search input:focus {
    width: 200px;
}

.farmStead__daynight {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
}

.farmStead__daynight i {
    transition: all .2s;
}

.farmStead__daynight a:hover i {
    color: #fb811e;
}

.farmStead__dropdown {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
    transition: all .5s;
}

.farmStead__dropdown ul {
    background-color: #fb811e;
    width: 200px;
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.farmStead__dropdown:hover ul {
    height: 320px;
}

.farmStead__dropdown ul li {
    line-height: 30px;
    padding-bottom: 10px;
}

.farmStead__dropdown ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0px;
}

/* WELCOME */
.farmStead__welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.farmStead__carousel {
    width: 60%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
}

.farmStead__details {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 12%;
    z-index: 99;
}

.farmStead__details h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.farmStead__details h5 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(89, 89, 89);
    margin-bottom: 20px;
}

.farmStead__details button {
    margin-top: 50px;
}

.farmStead__welcome {
    margin-bottom: 1000px;
}

/* CHOOSE */
.home_choose>.container>.row {
    align-items: center;
}

.home_choose .choose__left .left__list {
    margin-top: 72px;
}

.home_choose .choose__left .left__list i {
    color: #fb811e;
    font-size: 30px;
}

.home_choose .choose__left .left__list h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--font-volkhov);
}

.home_choose .choose__left .left__list p {
    color: #707070;
    line-height: 26px;
    font-size: 17px;
}

.home_choose .choose__right {
    padding-left: 110px;
}

.home_choose .choose__right img {
    border-radius: 30px;
    height: 587.5px;
    object-fit: cover;
}

.home_choose .choose__right .image__tag {
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: white;
    background-color: #fb811e;
    border-radius: 0 0 100px 0;
    padding: 40px 60px;
    text-align: center;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
}

.home_choose .choose__right .image__tag span {
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    font-family: var(--font-volkhov);
}

.home_choose .choose__right .image__tag p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 0;
}


/* TECHNOLOGY */

.technology .container .technology-item {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 2rem 1rem;
    transition: 0.3s ease-in;
}

.technology .container .technology-item:hover {
    border: 1px solid #eee;
    transition: 0.3s ease-in;
    background: #fff;
    cursor: pointer;
}

.technology .container .technology-item .col-3 img {
    max-width: 100%;
}

.technology .container .technology-item .col-9 h4 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
}

.technology .container .technology-item:hover h4 {
    color: #009f4d;
    transition: all 0.3s;
}

.technology .container .technology-item .col-9 p {
    margin-top: 10px;
}

/* GALLERY */

.home_gallery .heading button {
    margin-top: 24px;
}

.home_gallery .gallery__item {
    overflow: hidden;
}

.home_gallery .gallery__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    transform: skewX(-17deg);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transition: all 1s;
}

.home_gallery .gallery__item:hover::before {
    animation: toRight 1s;
}

@keyframes toRight {
    from {
        left: -75%;
    }

    to {
        left: 100%;
    }
}

.home_gallery .gallery__item a img {
    width: 100%;
}

.home_gallery .gallery__item a h4 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 20px;
    padding: 6px;
    font-family: var(--font-volkhov);
    font-weight: bold;
    background-color: rgb(255 255 255 / 27%);
}

/* CAROUSEL */

.home_carousel {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    position: relative;
}

.home_carousel::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(10 10 10 / 52%);
}

.home_carousel .carousel-inner .carousel__content {
    align-items: center;
    color: white;
    padding: 96px 0 85px;
}

.home_carousel .carousel-inner .carousel__content img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.home_carousel .carousel-inner .carousel__content h4 {
    margin: 16px 0 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-volkhov);
    color: white;
}

.home_carousel .carousel-inner .carousel__content p {
    color: white;
}

.home_carousel .carousel-inner .carousel__content i {
    font-size: 25px;
    color: #fb811e;
    display: block;
}

.home_carousel .carousel-inner .carousel__content blockquote p {
    font-size: 22px;
    line-height: 34px;
    color: white;
    text-indent: 30px;
}

.home_carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 7px;
}

.home_carousel .carousel-indicators .active {
    background-color: #fb811e;
}

/* FOOTER */

footer .footer__column h4 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #060606;
    font-family: var(--font-volkhov);
}

footer .footer__column ul {
    margin: 0;
    padding: 0;
}

footer .footer__column ul li,
footer .footer__column ul li a {
    color: #707070;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 16px;
    transition: all .5s;
}

footer .footer__column ul li a:hover {
    color: #fb811e;
}

footer .footer__column>a i {
    position: absolute;
    top: -14px;
    left: 68px;
    font-size: 20px;
    color: #fb811e;
    transition: all .5s;
}

footer .footer__column a h1 {
    font-size: 32px;
    line-height: 25px;
    color: #fb811e;
    font-family: var(--font-volkhov);
    margin-bottom: 24px;
    transition: all .5s;
}

footer .footer__column a:hover i,
footer .footer__column a:hover h1 {
    color: #060606;
}

footer .footer__column p {
    color: #707070;
    font-size: 17px;
    line-height: 24px;
}

footer .footer__column:nth-child(2) p:nth-child(3) {
    font-size: 18px;
    line-height: 30px;
    margin: 60px 0 0;
}

footer .footer__column:nth-child(2) p:nth-child(3) a {
    color: #009f4d;
    font-weight: 600;
    transition: all 0.5s;
}

footer .footer__column:nth-child(2) p:nth-child(3) a:hover {
    color: #fb811e;
}

footer .footer__column form input {
    background-color: #f4f4f4;
    color: #707070;
    padding: 12px 20px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 30px 0 0 30px;
    width: 80%;
}

footer .footer__column form button {
    width: 20%;
    background-color: #009f4d;
    border: 1px solid #009f4d;
    color: white;
    border-radius: 0 30px 30px 0;
    padding: 12px;
    font-size: 16px;
    transition: all .5s;
}

footer .footer__column form button:hover {
    opacity: 0.8;
}

footer .footer__column .footer__social a i {
    color: #009f4d;
    width: 35px;
    height: 35px;
    background-color: rgb(10 191 83 / 8%);
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    font-size: 15px;
    transition: all .5s;
}

footer .footer__column .footer__social a i:hover {
    color: #fb811e;
    background-color: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}


.heading h3 {
    font-size: 22px;
    color: #fb811e;
    font-family: var(--font-volkhov);
}

.heading h2 {
    font-size: 40px;
    line-height: 50px;
    color: #060606;
    font-family: var(--font-volkhov);
    font-weight: 600;
}

.heading p {
    font-size: 17px;
    color: #707070;
    line-height: 27px;
    margin: 16px 0 0 0;
}

.heading button {
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #fb811e;
    border: none;
    transition: all 0.5s;
}

.heading button:hover {
    background-color: #009f4d;
}

.heading button a {
    text-decoration: none;
    line-height: 26px;
    color: white;
    font-weight: 600;
}

.backTop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    background-color: #009f4d;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    z-index: 15;
    transition: all .5s;
}

.backTop:hover {
    opacity: 0.8;
}

.backTop i {
    color: white;
    line-height: 40px;
    font-size: 15px;
}

.visible {
    opacity: 1;
    visibility: visible;
}




/* ! Responsive */
@media screen and (max-width: 991.98px) {
    /* todo: choose */
    .home_choose .choose__right img {
        height: auto;
    }
}

/* ! 768px */
@media screen and (max-width: 767.98px) {
    /* todo: choose */
    .home_choose .choose__right {
        padding-left: 12px;
    }

    .home_choose .choose__right .image__tag {
        left: -50px;
    }

    /* todo: carousel */
    .home_carousel .carousel-inner .carousel__content i,
    .home_carousel .carousel-inner .carousel__content blockquote p {
        text-align: center;
    }

    .home_carousel .carousel-inner .carousel__content blockquote p {
        font-size: 17px;
        line-height: 30px;
    }
}